.homeblock{
	width:80%;
	margin:10px auto 30px auto;
	
	
	
	
	
	
}

.homeblock li{
	margin:10px auto 10px 50px;
}

.native{

	overflow:auto;
	
}

.HELPHOME{
	flex-flow:column;
	overflow:auto;
	background:white;
}
.HELPMODEL{
	flex-flow:row;
	overflow:hidden;
	background:white;
}

.homeblock_title{
	background:var(--baseBG);
	padding:1em;
	color:white;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border:1px solid var(--baseBG);
	font-size:18px;
}

.homeblock_content{
	text-indent:2em;
	padding:2em;
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
	border:1px solid #ddd;
	background:#f6f8fa;
	font-size:18px;
}
.homeblock_content li p{
	text-indent:0;
}

.diagram{
	display:flex;
	flex-flow:column;
	width:90%;
	margin-left:auto;
	margin-right:auto;
	align-items: center;
}

.database_div{
	width:100%;
	border:1px solid #ddd;
	display:flex;
	flex-flow:row;

	margin-bottom:20px;
	padding:0.5em;
	overflow:hidden;
}

.database_div > p{
	width:5%;
	font-size:18px;
	font-weight:bold;
}
.subdiagram{
	--width:100%;
	display:flex;
	flex-flow:row;
	align-items: center;
	padding:1em;
	margin:0 auto 0 auto;
	
}
.subdiagram_info{
	width:20%;
	height:100%;
}

.subdiagram_gram{
	--width:80%;
	height:100%;
	display:flex;
	justify-content: center;
}

.PieInfo_txt {
	opacity:0;

}

.PieInfo:hover + .PieInfo_txt{
	opacity:1;
	font-weight:bold;
}
.PieInfo:hover ~ .PieInfo_maintxt{
	opacity:0
}


.PieInfo:hover{
	stroke-width:3px;
	filter:brightness(120%);

}

.showHistTag text{
	transition:font-size 0.1s ease;

}
.showHistTag .Hist {


}

.showHistTag:hover .Hist{
	filter:brightness(120%);
}

.showHistTag:hover text{
	fill:black;
	font-size:12px;
}
.Hist:hover {
	filter:brightness(120%);
}



.Hist:hover ~text{
	opacity:1;
	
}
.modelFunctions p{
	line-height:2em;
	margin-top:2em;
	
}
.modelFunctions span{
	font-weight:bold;
}
.helpCatalog_div{
	width:20%;
	--height:100%;
	display:flex;
	flex-flow:column;
	max-width:300px;
	padding:10px;
	--white-space: nowrap;
	overflow:auto;
	font-size:15px;
	
}

.helpTitleDiv p{
	
	text-indent: -1em;
	padding:0.2em 0.2em 0.2em 1.5em;
	cursor:pointer;
	margin-bottom:5px;
}

.helpTitleDiv p:hover{
	background:#eee;
	border-radius:3px;

}
.helpCatalog_div >.helpTitleDiv{
	margin-left:5px;
	
}

.helpTitleDiv{
	
	margin-left:25px;
	
}



.helpContent{
	padding-top:20px;

	width:80%;
	display:flex;
	flex-flow:column;
	overflow:auto;
	--height:100%;
	border-left: 1px solid grey;
}



.helpContent > .helpContentDiv:last-of-type{
	margin-bottom:80px;
}

.helpContentDiv{
	
	margin-left:25px;
	margin-bottom:20px;
}
.helpContent > .helpContentDiv{
	margin-right:25px;
	margin-bottom:40px;
}

.helpContent img{
	margin:20px auto 20px auto;
	--border-left:2px solid var(--morelightBG);
	display: block;
	box-shadow:1px 1px 4px grey;
	max-width: 100%;
}

.helpContentTitle{
	color:var(--morelightBG);
	font-weight:bold;
	margin:5px auto 5px 5px;
	
}
.helpContentPlain{
	text-indent: 30px;
	margin-bottom:1em;
	font-size:15px;
}
.helpContentItalic{
	text-indent: 40px;
	margin-bottom:1em;
	font-size:13px;
	font-style:italic;
}

.helpContentBold{
	margin-bottom:1em;
	font-size:15px;
	font-weight:bold;
}

.helpContentTable{
	border-collapse: collapse;
	margin:5px auto 5px auto;
}

.helpContentTable th, .helpContentTable td {
  border: 1px solid black;
  padding:1em;
}

.Contact_father{
	
	
	height:20px;
	overflow:visible;
	z-index:5;
	position:fixed;
	right:0;
	top:10px;
	

}
.Contact{
	transition:width 0.2s ease,height 0.2s ease;
	background:white;
	border-radius:6px;
	margin:auto 10px auto auto;
	padding:5px;
	overflow:hidden;
	align-items: flex-start;
	display:flex;
	flex-flow: column;
	white-space: normal;

}

.contactus{
	font-size:14px;
	font-weight:normal;
}
.webLinks{
	text-decoration:none;
	width:70%;
}
.webLinks img , .webLinks svg{
	height:40px;
	margin:auto 0 auto 0;
}

.visitRecords{
	width:25%;
	display:flex;
	flex-flow:column;
	margin:auto 0 auto auto;
	font-size:12px;
	text-align: right;
}

