
body,nav,main,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {   
     margin:0;   
     padding:0;  
}
table{
	
	border-collapse:collapse;
}
td{
	padding:3px;
}
:root{
	--radius:5px;
	--morelightBG:#7db0e3;
	--lightBG:#42668b;
	--baseBG:#2a3f54;
	--baseBG_alp:#2a3f5455;
	--midBG:#001834;
	--darkBG:#001023;
	--transtime:0.2s;
	--panelBG:#535353;
	--betaArea:#ea00ff;
	--lightWhite:#e9e9e9;
}



nav{
	position:fixed;
	top:0;
	width:100%;
	height:110px;
	display: flex;
    flex-flow: column;
    align-items: center;
	z-index:99;
	background:white;
	box-shadow:3px 3px 5px black;
}

.header{
	align-items: flex-end;
	width:100%;
	height:57px;
	display:flex;
	align-content: center;
	justify-content: center;
	background:#f6f8fa;
	margin-right:auto;
	margin-left:auto;
	white-space:nowrap;
	border-bottom:1px solid grey;
	
}
#modelsTipBg{
	position:fixed;
	background:red;
	border-radius:var(--radius);
	z-index:1;
	height:5px;
	margin-top:30px;
	width:120px;
	transition:left var(--transtime) ease;
	
}
#modelsTips{
	display:flex;
	flex-shrink: 0;
	height:40px;
	padding-left: 30px;
	padding-right: 30px;

}


#modelsTips > label{
	height:30px;
	width:120px;
	flex-shrink:0;
	display:flex;
	align-content: center;
	justify-content: center;
	z-index:2;
	overflow: hidden;
	white-space:nowrap;
}
.dataBaseTip:hover{
	
	border-top: 5px solid rgba(255,0,0,0.1);
	
}

.dataBaseTip{
	width:150px;
	overflow:visible;
	position: relative;
	margin-left:5px;
	border-top: 5px solid rgba(255,0,0,0);
	display:flex;
	transition: border var(--transtime) ease;
}
.dataBaseTip > label:hover{
	cursor:pointer;
}
.dataBaseTip > label:not(:first-of-type):hover{
	background:#eee;
	
}
.dataBaseTip > label{
	
	height:40px;
	background:white;
	border-radius:var(--radius);
	width:120px;
	display: flex;
	position: absolute;
	align-items: center;
	overflow:hidden;
	top:0px;
	min-width:100%;
	margin-left:auto;
	margin-right:auto;
	transition: top var(--transtime) ease,width var(--transtime) ease,background var(--transtime) ease,box-shadow var(--transtime) ease;
}

.dataBaseTip > label:first-of-type{
	z-index:2;
	font-weight:bold;
	width: 100%;
}



.dataBaseTip > label:first-of-type >p {
	white-space:nowrap;
	margin-left:auto;
	margin-right:auto;
	

}

.dataBaseTip > label >p {
	white-space:nowrap;
	margin-left:10px;
	

}

main{
	position:fixed;
	top:110px;
	left:0px;
	width:100%;
	height:calc(100% - 110px);
	--transition:0.5s all ease;
}

.Model{
	position:fixed;
	display:flex;
	width:100%;
	height:calc(100% - 110px);
	
	left:0;
	transition:0.2s left ease;
	background:#f6f8fa;
}

#Debug{
	overflow:auto;
}


.sidebar{
	position:absolute;
	top:0;
	margin:1%;
	width:300px;
	color:#ffffff;
	font-family:serif;
	height:97%;
	z-index:1;
	--padding: 1.5em 1em;
	display:flex;
	flex-flow: column;
	border-radius:var(--radius);
	
	border:1px solid grey;
	
}

.sidebar >div{
	margin-bottom:10px;
	border-radius:var(--radius);
	margin-left:auto;
	margin-right:auto;
	width: 95%;
}

.sidebar >div:first-of-type{
	margin-top:10px;

}


.foldList_bg:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
	z-index:100;
}

.omicsSelector_bg>div {
	width:80%;
	margin-left:auto;
	margin-right:auto;
	display:flex;
	flex-flow:column;
	
	
}

.omicsSelector_bg>div:first-of-type {
	padding-bottom:10px;


}
.omicsSelector , .omicsSelectorAndMultigenes{
	width:100%;
	margin-left:auto;
	margin-right:auto;
}
.searchInput{
	width:calc( 100% - 30px );
	--border-radius:20px;
	height:35px;
	margin-left:auto;
	margin-right:auto;
	border: none;
	outline:none;
	padding: 2px 15px 2px 15px;
	font-size:16px;
	
}

.searchInput:focus{
	border: 2px solid #b5c210;
	padding: 0px 13px 0px 13px;
}

 .inputComp {
	align-items: center;
	width: 100%;
	display:flex;
	--height:20px;

}

 .inputComp > .searchButton {
	width: 30px;
	height:30px;
	margin-left:-38px;
	margin-right:8px;
	pointer-events:none;
}

 .inputComp > .clearButton {
	width: 30px;
	height:30px;
	margin-left:-65px;
	margin-right:35px;
	border-radius:3px;
	transition:background,0.2s,ease;
}

.clearButton:hover{
	cursor:pointer;
	background:rgba(0,0,0,0.2);
}

		
textarea{
	resize: none;
	width:100%;
	height:50px;
	transition: var(--transtime);
	flex-shrink:0;
	overflow:auto;
}

textarea:hover{
	height:100px;
	flex-shrink:0;
}
.inputAndSearchBox{
	
	width:100%;
	display:flex;
	flex-flow: column;
	color:black;
	margin-left:auto;
	margin-right:auto;
}


.inputAndSearch_Search{
	width:100%;
	max-height:400px;
	overflow:auto;
	font-size:12px;
	background:white;
	margin-top:5px;
}

.Parent_title_comp{
	display:flex;
	flex-flow: row;
	font-size:14px;
	align-items: center;
}

.newList_fold_input:checked + .Parent_title_comp > .plus{
	display:block;
}

.newList_fold_input:checked + .Parent_title_comp > .minus{
	display:none;
}

.newList_fold_input + .Parent_title_comp > .plus{
	display:none;
}

.newList_fold_input + .Parent_title_comp > .minus{
	display:block;
}




.newList_fold_input:checked ~ .newList_foldlist:first-of-type{
	height:0 !important;
}




.newList_foldlist{
	overflow:hidden;
	display:flex;
	flex-flow: column;
	--transition:height var(--transtime) ease;
}
.newList_foldlist_items{
	margin-left:20px;
	font-style:italic;
	width:80%;
	padding:5px;
	word-break: break-all;
	flex-shrink:0;
	display:flex;
	flex-flow: row;
	align-items: center;
	transition:background var(--transtime) ease,color var(--transtime) ease;
}
.foldList_bg{
	background:var(--lightBG);
	display:flex;
	flex-flow: column;
	transition: var(--transtime) box-shadow ease;
	overflow:hidden;

}

.foldList_bg_title{
	display:flex;
	flex-flow: row;
	height:40px;
	align-items:center;
	flex-shrink: 0.3;

}

.foldList_label{
	border-radius: var(--radius);
	width:100%;
	height:100%;
	--flex-shrink:0;
	margin:0;
	margin-right:-50px;
	background:var(--baseBG);
	display:flex;
	flex-flow: row;
	align-items:center;
	justify-content:space-around;
	box-shadow:3px 3px 6px black;
}

.selectALL{
	height:100%;
	width:50px;
	margin-right:-50px;
	display:flex;
	align-items:center;
	justify-content:center;
}

.selectALL:hover > p{
	color:white;
	
}

.selectALL > p{
	font-size:12px;
	transform:scale(0.8);
	font-weight:bold;
	color:#b4b4b4;
	text-align:center;
	transition:color 0.2s ease;
}


.foldList_label >p:first-of-type{

	font-size:14px;
	margin:auto;
}

.foldList_label >p:not(:first-of-type){
	font-style:italic;
	font-size:12px;
	margin-left:auto;
	width:50px;
	margin-right:25px;
	margin-left:-75px;
	text-align: right;
	flex-shrink:0;
}

.foldList_label:hover{
	cursor:pointer;
}


.foldList_folderInput:not(:checked) ~ .foldList{
	max-height:0px !important;
	
}

.foldList_folderInput:not(:checked)  + .foldList_bg_title >.chevrons-up{
	display:none;
	
	
}


.foldList_folderInput:not(:checked)  + .foldList_bg_title > .chevrons-down{
	display:block;
	z-index:3;
}

.foldList_folderInput  + .foldList_bg_title > .chevrons-up{
	display:block;
	z-index:3;
}


.foldList_folderInput  + .foldList_bg_title > .chevrons-down{
	display:none;
	
}

.foldList{
	--border-radius:20px;
	padding: 0;
	list-style:none;
	margin:10px;
	max-height:40vh;
	--background:var(--lightBG);

	overflow-y:auto;
	overflow-x:hidden;
	transition: var(--transtime) box-shadow ease,var(--transtime) max-height ease;
}


.foldList::-webkit-scrollbar {
  /*滚动条整体样式*/
  width : 10px;  /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}

.foldList::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 10px;
  box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
  background   : #535353;
}

.foldList::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background   : #ededed;
}



.selecterInFoldList{
	width:200px;
	display:flex;
	align-items:start;
	flex-flow:column;
	margin-top:5px;
	font-size:12px;
	margin-left:30px;
}

.selecterInFoldList :first-of-type{
	margin-bottom:5px;
}

.selecterInFoldList > select{
	width:100%;
}



.drug_folder_input{
	 display: none;
	 
}

.foldlist_folder_comp{
	display:flex;
	flex-flow: row;
	align-items:center;
	overflow: hidden;
	height:50px;
	--display: block;
	--transition: var(--transtime) transform ease;
	--box-shadow:2px 2px 4px black;
}

.chevrons-up{
	width:10px;
	margin-left:auto;
	margin-right:10px;
	background:transparent;
	pointer-events:none;
	
	
}
.chevrons-down{
	width:10px;
	margin-left:auto;
	margin-right:10px;
	background:transparent;
	pointer-events:none;

}
.foldlist_folder_comp > label:not(:first-of-type ) {
  --float:top;
 display:flex;
	flex-flow: row;
	align-items:center;
	justify-content:flex-start;

  
  
  --margin:0 0 -1px -1px;
  cursor: pointer;
  --display: block;
  --text-decoration: none;
  margin-right:-50px;
  --margin-left:0px;
  flex-grow: 3;
  --color:var(--darkBG);
  --background-color: #f4f4f4;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

  transition: var(--transtime) background-color ease, 0.3s box-shadow ease;
  height: 100%;
  width:auto;
  box-sizing: border-box;
  width:calc(100% - 100px);

}

.foldlist_folder_comp > label:first-of-type  {
	width:30px;
	height:70%;
	display:flex;
	align-items:center;
	justify-content:center;
	
	margin-right:5px;

}
.foldList_drugs > div:not(:first-child) > .foldlist_folder_comp  {
	border-top: 1px solid #ffffff;
}
.foldList_cellLines > div:not(:first-child) > .foldlist_folder_comp  {
	border-top: 1px solid #ffffff;
}
.foldlist_folder_comp > label >p:first-child  {
	 position: relative;
	--height:100%;
	--margin-left:120px;
	--margin-right:50px;
	text-align:left;
	font-size:14px;
	font-weight:bold;
	--width:130px;
	
}

.foldlist_folder_comp > label >p:not(:first-child ) {
	 position: relative;
	--height:100%;
	margin-left:auto;
	--margin-right:35px;
	margin-right:70px;
	text-align:left;
	font-size:12px;
	font-style:italic;
	color:grey;
	width:20px;
	text-align:right;

	
}
.drug_folder_input ~ .foldlist_folder_comp > .chevrons-up  {
  display: block;
}

.drug_folder_input:checked ~ .foldlist_folder_comp > .chevrons-up  {
  display: none;
}
.drug_folder_input ~ .foldlist_folder_comp > .chevrons-down  {
  display: none;
}
.drug_folder_input:checked ~ .foldlist_folder_comp > .chevrons-down  {
  display: block;
}





.foldlist_items{
	--height:300px;
	margin-left:10%;
	width:80%;
	--display:none;
	display:flex;
	flex-flow: column;
	--background:var(--morelightBG);
	--transform:scaleY(0);
	--top:0;
	transition: var(--transtime) height ease;
	overflow:hidden;
	border-left:1px solid rgba(255,255,255,0.1);
}

.drug_folder_input:checked ~ .foldlist_items{
	
	margin-left:10%;
	width:80%;
	--display:none;
	display:flex;
	flex-flow: column;
	height:0px !important;
	--transform:scaleY(0);
	--top:0;
	transition: var(--transtime) height ease;
	overflow:hidden;
}




.foldlist_items>div{
	flex-shrink: 0;
	display:flex;
	flex-flow: row;
	align-items:center;
	height:30px;
	border-bottom:1px solid rgb(0,0,0,0.1);

	width:100%;
	
}
.foldlist_items>div>input{
	--width:14px;
	--margin-right:-50px;
	margin-left:15px;
	
	cursor:pointer;
}

.foldlist_items>div>input:checked + li{
	background:var(--morelightBG);
}

.foldlist_items li{
	width:100%;

	display:block;
	--box-shadow: 1px 1px 10px #000000 inset;
	border-bottom: 1px solid rgba(0,0,0,0.4);
	border-top: 1px solid rgba(0,0,0,0.2);
   
	
	background:var(--lightBG);
	transition: var(--transtime) box-shadow ease,var(--transtime) background ease;
	list-style-type:none;
	height:30px;


}
.foldlist_items>div>label{
	cursor:pointer;
    --text-align: justify;
	width:100%;
	height:100%;
	display:flex;
	flex-flow: row;
	align-items:center;
	margin-left:0.5em;
	
	

}

.foldlist_items>div>label:hover>p{
	font-weight:bold;
	margin-left:2px;
}

.foldlist_items>div>label>p{
	bottom:0px;
	--margin-top:10px;
	text-align:left;
	-height:100%;
	font-size:12px;
	--font-weight:bold;
	word-break:break-all;
	transition:margin-left 0.1s ease;
}



.foldlist_items li:hover{
	--box-shadow: 3px 3px 4px #ffffff;
	--z-index:100;
	cursor: pointer;
}

.CellLinesFilter{
	
	width:98%;
	display: flex;
	flex-flow:column;
	align-items:center;
	border:1px solid #ffffff;
	margin-left:auto;
	margin-right:auto;
	margin-top:5px;

}

.CellLinesFilterTitle{
	margin-top:-10px;
	padding-left:3px;
	padding-right:3px;
	background:var(--lightBG);
	width:60%;
	white-space: nowrap;
	
}

.CellLinesFilterTitle > label{
	display: flex;
	flex-flow:row;
	align-items:center;
	justify-content:space-evenly;
	
}
.CellLinesFilterTitle input{
	z-index:2;
	
	
}

.CellLinesFilterContent{
	width:100%;
	height:85px;
	display: flex;
	flex-flow:column;
	align-items:center;
	justify-content:space-evenly;
	overflow:hidden;
	transition:var(--transtime) height ease;
}

.subFilterContent{
	width:100%;
	display: flex;
	flex-flow:row;
	align-items:center;
	font-size:12px;
}

.subFilterContent >p:first-of-type{
	width:120px;
	margin-left:3px;
	text-align:right;
	white-space: nowrap;
}


.subFilterCheckbox{
	margin-left:2px;
}


.subFilterPercInput{
	width:30px;
	margin-left:5px;
}

.subFilterContent > div{
	margin-left:5px;
}

.subFilterContent > select{
	width:65px;
	margin-left:5px;
}


.MSI_cellLines >div{
	display: flex;
	flex-flow:row;
	align-items:center;
	justify-content:center;
}

.sploidy_cellLines{
	
}


.mutation_cellLines{
	
}
.omicsSelector_bg {
	padding-bottom:20px;
	padding-top:20px;
	transition: var(--transtime) box-shadow ease;
	--height:180px;

	display: flex;
	flex-flow:column;
	align-items:center;
	justify-content:center;
	background: var(--baseBG);

}

.selectType{
	display: flex;
	flex-flow:row;
	align-items:center;
	justify-content:center;
	margin-top:5px;
	border-bottom:2px solid rgb(0,0,0,0.5);
	padding-bottom:3px;
	width:90%;
	margin-left:auto;
	margin-right:auto;
}

.selectType>p{
	font-size:12px;
}

.selectType>select{
	width:auto;
}

.methodBox{
	display: flex;
	flex-flow:column;
	align-items:center;
	justify-content:center;
	font-size:12px;
}
.methodBox >div {
	display: flex;
	flex-flow:row;
	align-items:center;
	justify-content:flex-start;
	width:100%;
	margin-top:10px;
}

.methodBox >div >p:first-of-type{
	width:120px;
	margin-left:3px;
	text-align:right;
	white-space: nowrap;
	margin-right:5px;
	
}

.foldList_geneSets{
	padding:0 10px 0 10px;
}
.geneSetsInputType{
	display: flex;
	flex-flow:row;
	font-size:12px;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	margin-top:5px;
	margin-bottom:5px;
}

.geneSetsInputTypeALL{
	border:1px solid white;
	margin-bottom:5px;
	margin-left:auto;
	margin-right:auto;
	width:100%;
}
.startplot{
	background:var(--baseBG);
	margin-bottom:20px;
	margin-top:auto;
	height:50px;

	display:flex;
	--flex-flow: column;
	justify-content:center;
	align-items:center;
	flex-shrink:0;
	transition:0.5s background ease;
	animation-direction:alternate;
	animation-duration: 0.4s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in; 

}

.startplot:hover{
	cursor: pointer;
	background:#e14444;
	
	
}

@keyframes myfirst{
    0%  {background:#e14444;}
    100% {background:var(--baseBG);}
}


.plotArea{
	position:relative;
	width:calc(98% - 300px);
	margin-left:auto;
	text-align:center;
	justify-content:space-between;
	align-items:center;
	height:100%;
	overflow:auto;
	display:flex;
	flex-flow: column;
	
}
.toolbar{
	height:30px;
	display:flex;
	margin-right:auto;
	margin-bottom:-30px;
	margin-left:50px;
	margin-top:10px;
}
.helpInfoBox{
	overflow:hidden;
	align-items: flex-start;
	display:flex;
	flex-flow: column;
	z-index:3;
	transition:height 0.2s ease,width 0.2s ease,box-shadow 0.2s ease;
	height:100%;
	width:200px;
	background:#ddd;
	border-radius:3px;
	margin-right:20px;
	text-align: left;
	
}

.helpInfoTitle{
	font-weight:bold;
	font-size:16px;
	margin: 0px auto 5px auto;
	white-space: nowrap;
	display:flex;
	flex-flow:row;
}

.helpInfoTitle > p{
	margin:auto;
}

.helpInfoTitle > svg{
	height:30px;
	width:30px;
}

.helpInfoContent{
	width:28vw;
	font-size:12px;
	margin:5px;
	display: flex;
    flex-flow: column;
	align-items: flex-start;
}




.tweakbar{
	display:none;
	height:100%;
	z-index:2;

}

.zoombox{
	display:flex;
	flex-flow: row;
	justify-content:space-between;
	align-items:center;
	background:#ddd;
	border-radius:3px;
	height:100%;
	width:140px;
	margin-right:20px;
	

}

.tweakbar > select{
	border-radius:3px;
	border:none;
	background:#ddd;
}


.zoombox>div:not(:nth-of-type(2)){
	width:24px;
	height:24px;
	margin:3px;
	border-radius:3px;
	background:white;
	display:flex;
	flex-flow: row;
	justify-content:center;
	align-items:center;
	font-size:20px;
	
}

.zoombox>div:not(:nth-of-type(2)):hover{
	cursor:pointer;
}

.colorPickers{
	display:flex;
	flex-flow: row;
	justify-content:center;
	align-items:center;
	height:100%;
	margin-left:20px;
	border:1px solid grey;
	background:white;
	
	
}

.colorPickers > input{
	width:18px;
	height:18px;
	border: 0; 
	background: none;

}
.colorPickers > p{
	margin-right:5px;
}

.svgBackground{
	margin-top:50px;
	
}

.svgContainer { 
    --display: inline-block;
    --width: 100%;
	--height:calc(100% - 30px);
	--display:flex;
	--padding:50px;
	--justify-content:center;
	--align-items:center;
	overflow: visible; 
    margin:auto;
	margin-top:50px;
	padding:30px;
	padding-top:0px;
	
	
}

.svgContainer >svg{ 
   --background:white;
	box-shadow:3px 3px 8px black;
	overflow: hidden; 
	cursor:default;
}

#popupInfoBox{
	display:flex;
	background:transparent;
	flex-flow:column;
	position:fixed;
	overflow:hidden;
	transition:opacity var(--transtime) ease;
	left:0px;
	top:0px;
	pointer-events:none;
	z-index:99;
	
}

#popupInfoBoxBg{
	background:transparent;
	width:100%;
	height:100%;
	margin-bottom:-100%;
	
}

.popupInfoBoxContent{
	background:transparent;
	overflow:hidden;
	max-width:500px;
	word-break: break-word;
}




.popupInfoBoxContent p  {
	font-size:12px;
}
.popupInfoBoxContent  td:first-of-type{
	margin-right:5px;
	font-weight:bold;
	white-space: nowrap;
	display:flex;
	justify-content: flex-end;
}
.popupInfoBoxContent td:last-of-type{
	text-align:left;
	

}

#popupInfoBoxContent_tmp{
	pointer-events:none;
	opacity:0;
	position:fixed;
}

#promotBox{
	display:none;
	position:fixed;
	background:white;
	border:1px solid black;
	flex-flow:column;
	font-size:16px;
	transition:height var(--transtime) ease;
}
.promotBoxItem{
	height:24px;
	overflow:hidden;
	background:white;
	color:black;
	border-radius:4px;
	padding:2px;
	display:flex;
	padding-left:5px;
	transition:background var(--transtime) ease,color var(--transtime) ease;
}
.promotBoxItem:hover , .newList_foldlist_items:hover{
	cursor:pointer;
	background:var(--lightBG);
	color:white;
}

.promotBoxItem > p{
	display:flex;
	align-items: center;
	flex-flow: row;
	
	
}
.CellAndDrugResistTags{
	transition:stroke 0.1s ease;
}


.CellAndDrugResistTags:hover{
	fill:red;
}

.summBarplotInfo{
	transition:filter 0.2s ease;

}
.summBarplotInfo:hover{
	--filter:drop-shadow(5px 5px 5px black);
	filter:opacity(50%);
	
}
.drugTags{
	transition:fill 0.1s ease;
}

.drugTags:hover{
	fill:red;
	
}

.justHover:hover{
	filter:opacity(50%);
}

.OmicResultBox{
	position:relative;
	border:1px solid white;
	padding:5px;
	transition:height 0.2s ease;
}



.OmicResultItem{
	display:flex;
	flex-flow:row;
	height:30px;
	align-items: center;
	width:80%;
	margin:5px auto 5px auto;
	padding:1px 16px 1px 16px;
	background-image: linear-gradient(var(--baseBG_alp),var(--baseBG));
	border-radius:var(--radius);
	box-shadow:3px 3px 5px rgba(0, 0, 0, 0.5);
	font-size:12px;
	cursor:pointer;
	position: absolute;
	transition:top 0.2s ease;
	white-space: nowrap;
}
.OmicResultItem_ref{
	background-image: linear-gradient(#bc4e4e,#6c2a2a);
}
.OmicResultItem > div{
	margin-left:auto;
	height:20px;
	
}
.justPointer:hover{
	cursor:pointer;
}
.warnings:hover{
	cursor:pointer;
	filter:drop-shadow(4px 4px 3px rgba(0,0,0,0.7));
	transition:filter 0.1s ease;
}

.warnings{

	filter:drop-shadow(1px 1px 1px rgba(0,0,0,0.7));

}

.individualCheckBox{
	display:flex;
	flex-flow:column;
	
}

.individualCheckBox > div{
	display:flex;
	flex-flow:row;
	
}

.showBoxPlot{
	opacity:0;
	transition:opacity 0.1s ease;
}

.showBoxPlot:hover{
	opacity:1;
}

.fadeBoxPlot:hover{
	opacity:0.5;
}

.downloadblock_div{
	width:80%;
	margin:0 auto 0 auto;
	padding:50px;
}

.downloadblock{
	width:100%;
	margin:50px auto 0px auto;
}
.downloadblock table{
	width:100%;
	border:1px solid grey;
	border-radius:5px;
	border-collapse: separate;
	border-spacing: 0;
	background:white;
	padding:1em;

}
.downloadblock td:nth-of-type(1){
	width:50%;
}
.downloadblock td:nth-of-type(2){
	width:30%;
}
.downloadblock > p{
	font-weight:bold;
}

